header{
    width: 100%;
    position: sticky;
    padding:10px;
    font-family: var(--font-main);
    color:var(--color-light);
}
header .iner-wrap{
    display:flex;
}
header .logo{
    color:var(--color-primary);
}
a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-right:20px;
}
header .iner-wrap .menu{
    position: absolute;
    right:20px;
}
.menu :hover{
    color:var(--color-primary);
}
